.even {
    background-color:$background-color-alt;
}

.site-header {
    margin-bottom:$spacing-unit-v;
     @include media-query($on-medium-screen) {
        float:left;
        width: 250px;
    }
}

.watch-container {
     @include media-query($on-medium-screen) {
        float:right;
    }
}

.watch-copy {
     @include media-query($on-medium-screen) {
        width: 250px;
        text-align: center;
    }
}

.site-title {
    margin:0 auto;
    width: 125px;
    height: 124px;
    background: url(../images/logo.svg);
    background-size: 125px 124px;
    @extend %ir
}

.watch-wrapper {
    position:relative;
    margin: 0 auto 40px;
}

.watch {
    position: relative;
    margin:0 auto;
    width: 200px;
    height: 281px;
    background: url(../images/watch.png);
    background-size: 200px 281px;
    z-index: 100;
    pointer-events: none; 
}

.coin-anim-wrapper {
    position: absolute;
    top: 101px;
    left: 81px;
    width: 80px; 
    height: 80px; 
    background: #000;
    border-radius: 100%;
    @include media-query($on-medium-screen) {
        left:61px;
    }
}

.coin-anim {
    position: absolute;
    top: -55px;
    left: -55px;
    background:transparent url(../images/coin_sprite.png) no-repeat 0 0;
    background-size:18050px 190px;
    width:190px;
    height: 190px;
    display: block;
}

.coin-anim-heads-play {
    -webkit-animation: 'heads' 1s alternate infinite;
    -moz-animation: 'heads' 1s alternate infinite;
    animation: 'heads' 1s alternate infinite;
}

.coin-anim-tails-play {
    -webkit-animation: 'tails' 1s alternate infinite;
    -moz-animation: 'tails' 1s alternate infinite;
    animation: 'tails' 1s alternate infinite;
}

@-webkit-keyframes 'heads' {
    to { box-shadow: 0 0 10px 8px #fcb935, 0 0 50px #fcb935; }
    from { box-shadow: 0 0 5px 2px #000, 0 0 75px #000; }
}
@-moz-keyframes 'heads' {
    to { box-shadow: 0 0 10px 8px #fcb935, 0 0 50px #fcb935; }
    from { box-shadow: 0 0 5px 2px #000, 0 0 75px #000; }
}

@keyframes 'heads' {
    to { box-shadow: 0 0 10px 8px #fcb935, 0 0 50px #fcb935; }
    from { box-shadow: 0 0 5px 2px #000, 0 0 75px #000; }
}

@-webkit-keyframes 'tails' {
    to { box-shadow: 0 0 10px 8px #fb0000, 0 0 50px #fcb935; }
    from { box-shadow: 0 0 5px 2px #000, 0 0 75px #000; }
}
@-moz-keyframes 'tails' {
    to { box-shadow: 0 0 10px 8px #fb0000, 0 0 50px #fcb935; }
    from { box-shadow: 0 0 5px 2px #000, 0 0 75px #000; }
}

@keyframes 'tails' {
    to { box-shadow: 0 0 10px 8px #fb0000, 0 0 50px #fcb935; }
    from { box-shadow: 0 0 5px 2px #000, 0 0 75px #000; }
}

.phone-wrapper {
    @include media-query($on-medium-screen) {
        padding-bottom:0;
    }
}

.phone-container {
    width: 208px;
    height: 290px;
    background: url(../images/phone.png);
    background-size: 208px 290px;
    margin: 0 auto $spacing-unit-v;
     @include media-query($on-medium-screen) {
        float:left;
        margin-bottom:0;
    }
}

.phone-copy {
     @include media-query($on-medium-screen) {
        float:right;
        width: 210px;
        text-align: center;
        padding-top:50px;
    }
}

.app-store-available {
    width: 150px;
    height: 55px;
    background: url(../images/app_store_available.svg);
    background-size: 150px 55px;
    margin: 0 auto $spacing-unit-v;
    @extend %ir
}

.watch-phone {
    padding:160px 0px;
    text-align:center;
    @include media-query($on-medium-screen) {
        padding:15px 0;
    }
}

.watch-phone > img {
    width:116px;
    height:65px;
}

.app-store-download {
    background:transparent url(../images/download_short.svg) no-repeat 0 0;
    background-size: 165px 64px;
    width:165px;
    height:64px;
    margin:30px auto 0;
    @extend %ir;
    @include media-query($on-medium-screen) {
        background-image: url(../images/download_long.svg);
        background-size: 236px 42px;
        width: 236px;
        height: 42px;
    }
}

.coins {
    list-style: none;
    margin:0 0 -40px 0;
    @extend %clearfix;
    @include media-query($on-medium-screen) {
        text-align: justify;
    }
}

.coins:after {
    content: '';
    display: inline-block;
    width: 100%;
}

.coin {
    margin: 0 auto 50px;
    width: 195px;
    background-size: 195px 104px;
    color:$brand-color;
    background-repeat:no-repeat;
    background-position: 0 0;
    padding-top: 115px;
    font-size: $small-font-size;
    font-weight: 500;
    @include media-query($on-medium-screen) {
        display: inline-block;
        text-align: center;
        width: 147px;
        padding-top:90px;
        background-size: 147px 77px;
        font-size:14px;
        margin-bottom: 0;
    }
}

.coin:last-child {
    margin-bottom: 0;
}

.coins .gbp { background-image: url(../images/coin_gbp.svg); }
.coins .usd { background-image: url(../images/coin_usd.svg); }
.coins .eur { background-image: url(../images/coin_eur.svg); }

.footer a {
    display: block;
    padding:20px 0;
    font-size:$small-font-size;
    font-weight:500;
    text-decoration:none;
    text-align:center;   
}

.footer .author {
    background-color:$grey-color;
    color:$text-color;
    margin-bottom:65px;
    @include media-query($on-medium-screen) {
        margin-bottom:0;
    }
}

.footer .author > span {
    background:transparent url(../images/code_heart.svg) no-repeat 0 center;
    background-size: 17px 20px;
    padding-left:30px; 
}

.footer .download {
    position: fixed;
    width:100%;
    bottom:0;
    z-index: 100;
    background:$brand-color;
    color:$background-color;
    @include media-query($on-medium-screen) {
        position:static;
        display: none;
    }
}

.footer .download > span {
    background:transparent url(../images/apple_logo.svg) no-repeat 0 center;
    background-size: 17px 20px;
    padding-left:30px;
}


